@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

:root {
  --family: "DM Sans", sans-serif;
  --fs: 18px;
  --fw-normal: 400;
  --fw-bold: 700;
  /*Colors */
  --colors-darkBrown: hsl(25, 47%, 15%);
  --colors-mediumBrown: hsl(28, 10%, 53%);
  --colors-bg: hsl(27, 66%, 92%);
  --colors-panel: hsl(33, 100%, 98%);
  --colors-red: hsl(10, 79%, 65%);
  --colors-cyan: hsl(186, 34%, 60%);
}
body {
  margin: 0;
  font-family: var(--family);
  font-size: var(--fs);
  background-color: var(--colors-bg);
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
